@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --b: 1px solid black;
}

/*
    ESTILOS DE INDEX.HTML
*/
.cuerpo__inicio {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}

.encabezado {
    background-color: white;
    position: fixed;
    top: 0px;
    width: 95%;
    left: 50%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    border-radius: 8px;
    transform: translateX(-50%);
    box-shadow: 0px 0px 7px 0px black;
}

.figura__logo {
    width: 60px;
    height: 60px;
    background-image: url(../icon/icon_pagina.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.menu {
    width: 20%;
}

.menu {
    width: 40%;
    display: flex;
    align-items: center;
}

.menu__lista {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

.menu__item {
    border-radius: 8px;
    padding: 6px 15px;
    text-align: center;
    border: .3px solid orange;
}

.menu__item:hover {
    background-color: orange;
    border: .3px solid orange;
    transition: .5s;
    box-shadow: 1px 1px 3px 0px black;
    cursor: pointer;
}

.menu__item>a {
    text-decoration: none;
    color: black
}

.contenedor__inicio {
    width: 95%;
    height: 400px;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
}

.contenedor__inicio__titulo {
    text-align: center;
    margin-bottom: 20px;
}

.contenedor__izquierda {
    box-shadow: 6px 6px 9px 0px black;
    border-radius: 8px;
    width: 50%;
    height: 100%;
}

.contenedor__derecha {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgen__slider {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: block;

}

.contenedor__footer {
    background-color: rgba(255, 166, 0, 0.412);
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icono__correo {
    background-image: url("../icon/email.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.icono__direccion {
    background-image: url("../icon/address.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.cuerpo__nosotros {
    height: 100vh;
}

.icono__telefono {
    background-image: url("../icon/phone.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.container__icono {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label~h5 {
    opacity: 0;
}

.label:hover~h5 {
    opacity: 1;
}

.container__icons__footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.icono__media {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon~h6 {
    opacity: 0;
}

.icon:hover~h6 {
    opacity: 1;
}

/*
    ESTILOS DE PRODUCTOS.HTML
*/
.categoria {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 160px;
}

.cuerpo__producto {
    height: 150vh;
    position: relative;
    border: var(--b);
    width: 100%;
}

.categoria__titulo {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bolder;
    width: 100%;
    position: sticky;
    top: 0px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(129, 125, 125);
    border-radius: 8px;
    color: white;
    text-align: center;
}

.container__productos {
    position: relative;
    border: 1px solid orange;
    width: 90%;
    overflow: auto;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    border-radius: 8px;
}

.cate {
    margin-bottom: 30px;
}

.titulo__categoria {
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(255, 166, 0, 0.642);
}

.productos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    transition: 0.6s;
    overflow: auto;
}

.descripcion {
    width: 100%;
    text-align: center;
}

.card {
    border: 1px solid orange;
    height: 300px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 0px black;
}

.card__img {
    border-radius: 8px;
    width: 100%;
    height: 50%;
    margin: auto;
    margin-bottom: 6px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card__parrafo {
    padding-top: 8px;
    width: 98%;
    margin: auto;
    border-top: 1px solid black;
    text-align: center;
}

.integral__img1 {
    background-image: url(../img/pan_integral_1.jpeg);
}

.integral__img2 {
    background-image: url(../img/pan_integral_2.jpeg);
}

.integral__img3 {
    background-image: url(../img/pan_integral_3.jpeg);
}

.integral__img4 {
    background-image: url(../img/pan_integral_4.jpeg);
}

.integral__img5 {
    background-image: url(../img/pan_integral_5.jpeg);
}

.integral__img6 {
    background-image: url(../img/pan_integral_6.jpeg);
}

.dulce__img1 {
    background-image: url(../img/pan_dulce_1.jpeg);
}

.dulce__img2 {
    background-image: url(../img/pan_dulce_2.jpeg);
}

.dulce__img3 {
    background-image: url(../img/pan_dulce_3.jpeg);
}

.dulce__img4 {
    background-image: url(../img/pan_dulce_4.jpeg);
}

.dulce__img5 {
    background-image: url(../img/pan_dulce_5.jpeg);
}

.dulce__img6 {
    background-image: url(../img/pan_dulce_6.jpeg);
}

.queso__img1 {
    background-image: url(../img/pan_queso_1.jpeg);
}

.queso__img2 {
    background-image: url(../img/pan_queso_2.jpeg);
}

.queso__img3 {
    background-image: url(../img/pan_queso_3.jpeg);
}

.queso__img4 {
    background-image: url(../img/pan_queso_4.jpeg);
}

.queso__img5 {
    background-image: url(../img/pan_queso_5.jpeg);
}

.queso__img6 {
    background-image: url(../img/pan_queso_6.jpeg);
}

/*
    ESTILOS DE NOSOTROS.HTML
*/
.container__nosotros {
    width: 95%;
    height: 400px;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    z-index: 0;
    gap: 20px;
}

.title {
    text-align: center;
    background-color: rgba(255, 166, 0, 0.412);
    margin-bottom: 10px;
    border-radius: 8px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
}

.subtitle {
    text-align: justify;
}

input {
    display: none;
}

@media (max-width: 769px) {
    .menu {
        width: 50%;
    }

    .container__nosotros {
        display: flex;
        flex-direction: column;
        height: 600px;
        justify-content: space-around;
    }

    .cuerpo__producto {
        height: 160vh;
    }

    .cuerpo__inicio {
        height: 130vh;
    }

    .contenedor__inicio {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        width: 100%;
        height: 700px;
    }

    .contenedor__inicio__titulo {
        margin-bottom: -10px;
    }

    .descripcion {
        margin-top: 50px;
        text-align: center;
    }

    .contenedor__izquierda {
        width: 70%;
    }

    .contenedor__derecha {
        width: 100%;
        margin: auto;
    }

    .imgen__slider {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .menu__lista {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: orange;
        top: 75px;
        height: 200px;
        left: -500px;
        width: 100%;
        transition: .6s;
    }

    .cuerpo__producto {
        height: 160vh;
    }

    .cuerpo__inicio {
        height: 130vh;
    }

    .contenedor__derecha {
        width: 100%;
    }

    .encabezado__titulo {
        text-align: center;
        font-size: 20px;
    }

    input:checked~ul {
        left: 0px;
    }

    input {
        display: none;
    }

    .menu__item:hover {
        background-color: white;
    }

    .menu__hamburguesa {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        justify-content: space-around;
    }

    .menu {
        justify-content: flex-end;
    }

    .linea {
        width: 100%;
        height: 5px;
        background-color: orange;
    }

    .imgen__slider {
        width: 100%;
    }

    .contenedor__izquierda {
        width: 100%;
    }
}