@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
    --b: 1px solid black;
    --color-rgb: rgb(237, 132, 44);
    --color: rgba(255, 166, 0, 0.719);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.header {
    width: 100%;
}

.header__container__principal {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.208);
}

.header__container__principal>div {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.box1 {
    display: flex;
    width: 33%;
    height: 50%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__icon__play {
    height: 100%;
    width: 20px;
    background-image: url(../icon/icon_play.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box2 {
    display: flex;
    width: 21%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box2__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon__facebook {
    background-image: url(../icon/icon_facebook.svg);

}

.icon__youtube {
    background-image: url(../icon/icon_youtube.svg);

}

.icon__instagram {
    background-image: url(../icon/icon_instagram.svg);

}

.header__container__segundo {
    width: 85%;
    margin: auto;
}

.header__logo {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 18px;
}

.logo__fundacion {
    background-image: url(../img/logo-fundacion.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 120px;
    height: 100px;
}

.header__informacion {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.header__informacion__item {
    display: flex;
    gap: 10px;
    height: 50%;
    line-height: 1.5rem;
    padding-right: 40px;
    border-right: 1px dotted orange;
}

.informacion__icon {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
}

.informacion__titulo {
    color: rgb(237, 132, 44);
    font-size: 20px;
}

.icon__dudas {
    background-image: url(../icon/icon__question.svg);
}

.icon__contactanos {
    background-image: url(../icon/icon__phone.svg);
}

.icon__correo {
    background-image: url(../icon/icon__mail.svg);
}

.btn__informacion {
    border: none;
    width: 100%;
    padding: 15px 29px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    background-color: rgb(237, 132, 44);
}

.btn__informacion:hover {
    background-color: rgb(219, 142, 79);
}

.menu {
    width: 100%;
    background-color: rgb(237, 132, 44);
    margin-top: 20px;
}

.menu__lista {
    width: 85%;
    height: 50px;
    margin: auto;
    background-color: rgb(237, 132, 44);
    display: flex;
    text-transform: uppercase;
    position: relative;
    align-items: center;
    list-style: none;
}

a {
    text-decoration: none;
    height: 100%;
    display: flex;
    color: white;
    align-items: center;
}

.menu__lista>li:last-child {
    position: absolute;
    right: 0px;
}

.menu__icon__lupa {
    margin-top: 10px;
    width: 35px;
    height: 80%;
    background-image: url(../icon/icon_lupa.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.--ayudas {
    position: relative;
}

.menu__item {
    width: max-content;
    cursor: pointer;
    height: 100%;
    border-left: .5px solid white;
    border-right: .5px solid white;
    padding: 0px 18px;
}

.icon__row {
    width: 20px;
    height: 20px;
    background-image: url(../icon/icon__row__down.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu__item:hover {
    background-color: rgba(0, 0, 0, 0.099);
}

.sub__menu {
    width: 254px;
    height: 100px;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: black;
}

li:hover .sub__menu {
    display: block;
    z-index: 200;
}

.sub__menu__item>a:hover {
    color: white;
}

.sub__menu {
    list-style: none;

}

.sub__menu__item>a {
    color: grey;
    padding-top: 10px;
    padding-left: 20px;

}

/*slider*/
.sliders {
    width: 100%;
    height: 100%;
    padding: 300px;
    border: var(--b);
    height: max-content;
    position: relative;
    background-image: url(../img/niños.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider__titulo1 {
    color: white;
    text-transform: uppercase;
    position: absolute;
    font-size: 55px;
    top: 20px;
    right: 120px;
}

.slider__titulo2 {
    color: white;
    text-transform: uppercase;
    position: absolute;
    font-size: 30px;
    top: 100px;
    right: 120px;
}

.slider__parrafo {
    color: white;
    position: absolute;
    top: 150px;
    right: 120px;

}

.slider__btn {
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    margin-left: 280px;

}

.botones {
    width: 30%;
    height: 40px;
    position: relative;
    right: 0;
    border: none;
    cursor: pointer;
}

.tbn--child {
    background-color: rgb(237, 132, 44);

}

.icon__boton1 {
    background-image: url(../icon/icon__child.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 15px;
    height: 30px;
    position: absolute;
    left: 30px;
    border-right: 1px solid white;
    top: 5px;
}

.icon__boton2 {
    background-image: url(../icon/icon__add.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 18px;
    border-right: 1px solid white;
    top: 5px;
}

.slider__icon {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #272828d2;
}

.slider__icon:hover {
    background-color: #191c1f;
}

.left2 {
    background-image: url(../icon/icon__row__left.svg);
    position: absolute;
    left: 0px;
    padding: 50px 0px;
}

.right {
    background-image: url(../icon/icon__row__right.svg);
    position: absolute;
    right: 0px;
    padding: 50px 0px;
}

.container__informacion__fundacion {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.card {
    margin-top: 50px;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    background: #f4fafb;
    box-shadow: 20px 20px 60px #cfd5d5,
        -20px -20px 60px #ffffff;
}

.card__icon {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 60px;

}

.card__icon__historia {
    margin-left: 70px;
    transition: .5s;
    background-image: url(../icon/icon__book.svg);
}

.card__icon__mision {
    background-image: url(../icon/icon__flag.svg);
}

.card__icon__vision {
    background-image: url(../icon/icon__eye.svg);
}

.card__link {
    width: 60%;
    height: 40px;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    background-color: rgb(237, 132, 44);
}

.card__titulo__historia {
    text-transform: uppercase;
    color: red;
    margin-top: 10px;
    font-size: 20px;
}

.card__titulo__mision {
    text-transform: uppercase;
    color: blue;
    margin-top: 10px;
    font-size: 20px;
}

.card__titulo__vision {
    text-transform: uppercase;
    color: green;
    margin-top: 10px;
    font-size: 20px;
}

.container__paragraph {
    width: 90%;
}

.card__parrafo {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

.container__numbers {
    background-image: url(../img/manos.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 30px;
    display: flex;
    height: 280px;
}

.card__number {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
}

.card__number__number {
    color: white;
}

.card__number__parrafo {
    width: 75%;
    color: white;
    text-align: center;
}

.card__number__icon {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 60px;
}

.icon__cuchara {
    background-image: url(../icon/icon__food.svg);
}

.icon__cuchara:hover {
    background-color: orange;
}

.icon__corazon {
    background-image: url(../icon/icon__heart.svg);
}

.icon__personita {
    background-image: url(../icon/icon__heart__human.svg);
}

.icon__familia {
    background-image: url(../icon/icon__people.svg);
}

.container__nosotros {
    margin-top: 30px;
    display: flex;
    height: 500px;
}

.contanier__img {
    width: 50%;
}

.nosotros__img {
    background-image: url(../img/nina.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

}

.container__nosotros__paragraph {
    width: 30%;
}

.nosotros__paragraph {
    text-align: justify;
}

.labor__btn {
    margin-top: 20px;
    border: none;
    color: white;
    font-weight: 400;
    position: relative;
    width: 190px;
    cursor: pointer;
    padding: 10px;
    background-color: var(--color-rgb);
}

.labor__btn:hover {
    background-color: black;
}

.icon__btn {
    background-image: url(../icon/icon__face__smile.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 8px;
    border-right: 1px solid white;
    width: 20px;
    height: 20px;
}

.footer {
    width: 100%;
    height: 280px;
    padding-top: 60px;
    background-color: #191c1f;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 50px;
}

.footer__container {
    width: 40%;
}

.footer__titulo {
    width: 70%;
    letter-spacing: 4px;
    color: white;
    font-size: 16px;
    margin-bottom: 40px;
    border-bottom: 1px solid orange;
}

.footer__subtitulo {
    color: grey;
    margin-bottom: 15px;
    width: 100%;
}

.icono__politica {
    background-image: url(../icon/icon__checked.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.icono__politica:hover {
    background-color: orange;
}

.footer__link:hover {
    color: orange;
}

.footer__parrafo {
    color: grey;
    width: 100%;

}